<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
</head>

<body>

    <h1>Edit Task</h1>

    <form method="POST">

        <label for="task">Task:</label>

        <input
            type="text"
            id="task"
            name="task"
            value="{{ task.title }}"
            required
        >
        <br><br>
        <label for="subject">Subject:</label>

<select id="subject" name="subject">

    <option value="MAD-1"
        {% if task.subject == "MAD-1" %}selected{% endif %}>
        MAD-1
    </option>

    <option value="MLP"
        {% if task.subject == "MLP" %}selected{% endif %}>
        MLP
    </option>

    <option value="DBMS"
        {% if task.subject == "DBMS" %}selected{% endif %}>
        DBMS
    </option>

    <option value="Python"
        {% if task.subject == "Python" %}selected{% endif %}>
        Python
    </option>

    <option value="Other"
        {% if task.subject == "Other" %}selected{% endif %}>
        Other
    </option>

</select>

<br><br>
        <label for="priority">Priority:</label>

            <select id="priority" name="priority">

            <option value="Low"
                {% if task.priority == "Low" %}selected{% endif %}>
                Low
            </option>

        <option value="Medium"
            {% if task.priority == "Medium" %}selected{% endif %}>
            Medium
        </option>

        <option value="High"
            {% if task.priority == "High" %}selected{% endif %}>
            High
        </option>

    </select>

    <br><br>

    <label for="due_date">Due Date:</label>

    <input
        type="date"
        id="due_date"
        name="due_date"
        value="{{ task.due_date or '' }}"
    >

    <br><br>

        <button type="submit">Save Changes</button>

    </form>

    <br>

    <a href="{{ url_for('tasks') }}">Back to Tasks</a>

</body>
</html>