<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password - Student Study Manager</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <div class="header">
        <h1>Forgot Password?</h1>
        <p>Enter your username to reset your password.</p>
    </div>

    <div class="task-form">

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        {% if message %}
        <p style="color: green;">{{ message }}</p>
        {% endif %}
        <form method="POST">

            <label>Username</label><br>

            <input type="text"
                   name="username"
                   required>

            <br><br>

            <button type="submit" class="add-button">
                Continue
            </button>

        </form>

        <br>

        <a href="{{ url_for('login') }}">
            Back to Login
        </a>

    </div>

</div>

</body>
</html>