<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Student Study Manager</title>
</head>

<body>


    <div class="dashboard">

        <h1>Student Study & Task Manager</h1>

        <h2>Dashboard</h2>

        <p>Welcome to your study manager!</p>

        <h3>My Tasks</h3>

        <div class="task">Complete MAD-1 assignment</div>
        <div class="task">Practice Python</div>
        <div class="task">Prepare for end-term exam</div>

    </div>

</body>
</html>